# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# dataset & data
data/cifar-100-python/      # 忽略整个样本数据文件夹
data/*.tar.gz               # 忽略压缩包